html, body, h1, h2, h3, h4, h5, h6, hr, p, a,
blockquote, dl, dt, dd, ul, ol, li, pre,
form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

html, body {
  font: 14px  "PingFang SC", "Microsoft Yahei",  Arial, SimSun, "Helvetica Neue",  "Luxi Sans", "DejaVu Sans", Tahoma,  "Hiragino Sans GB", sans-serif;
  color: #222;
  background: white;
  font-weight: normal; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */ }

a {
  outline: 0;
  color: #222;
  text-decoration: none; }
  a:hover {
    color: red;
    text-decoration: underline; }
  a:active {
    color: #205DCA; }

.m-wrap {
  min-width: 1200px; }

.m-inner {
  max-width: 1200px;
  margin: 0 auto;
  zoom: 1; }

.m-inner2 {
  text-align: left;
  max-width: 1200px;
  position: relative;
  zoom: 1;
  margin: 0 auto 18px;
  border-radius: 3px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(254, 254, 254, 0.8); }

.all-website {
  font: 14px "Hiragino Sans GB","Hiragino Sans GB W3",\5b8b\4f53,'Microsoft Yahei',Arial,SimSun,sans-serif;
  color: #222;
  font-weight: normal; }
  .all-website .websites {
    margin: 15px auto;
    position: relative;
    background: white; }
    .all-website .websites .sub-title {
      position: absolute;
      height: 35px;
      font-weight: bold;
      line-height: 35px;
      padding: 0 15px;
      font-size: 15px;
      color: #333;
      left: 0;
      right: 0;
      top: 0; }
    .all-website .websites .site-grid {
      margin-top: 10px;
      padding: 15px 15px;
      padding-top: 40px;
      position: relative; }
      .all-website .websites .site-grid > .sub-title a.back-top {
        color: #34c151;
        float: right;
        font-size: 12px;
        padding: 0 10px;
        display: block;
        font-weight: normal;
        vertical-align: middle; }
    .all-website .websites .list li {
      font-size: 13px;
      letter-spacing: 1px;
      overflow: hidden;
      display: block;
      height: 30px;
      line-height: 30px;
      float: left;
      width: 110px;
      position: relative; }
      @media (max-width: 768px) {
        .all-website .websites .list li {
          width: 25%;
          box-sizing: border-box; } }
      @media (max-width: 414px) {
        .all-website .websites .list li {
          width: 33.333%; } }
      .all-website .websites .list li span.icon {
        background: #eaeaea; }
  .all-website .footer {
/*     margin: 20px 0;
    min-height: 50px;
    font-size: 13px; */
    text-align: center; }

.m-toolbar .tab li {
  font-size: 12px; }

.nav {
  padding: 10px 15px;
  background: white;
  border-bottom: 1px solid #eaeaea; }
  .nav .logo {
    background: transparent center no-repeat;
    background-image: url(974cdf45a94253274396b51ebb5b05bf.png);
    width: 155px;
    height: 40px;
    display: block;
    float: left; }
  .nav .right {
    line-height: 40px;
    float: right;
    vertical-align: middle; }
    .nav .right .btn {
      border: 1px solid transparent;
      padding: 0 10px;
      line-height: 30px;
      height: 30px;
      border-radius: 2px;
      text-decoration: none;
      font-size: 12px;
      display: inline-block; }
      .nav .right .btn:hover {
        opacity: .8; }
    .nav .right .btn-secondary {
      border-color: #34c151;
      color: #34c151; }

.container {
  max-width: 910px;
  margin: 0 auto; }

#m_floatbar .m-layout {
  max-width: 910px; }

#m_floatbar.absolute {
  height: 83px;
  left: 0;
  bottom: 40px;
  position: absolute;
  zoom: 1; }

#m_floatbar.fixed {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 83px;
  position: fixed;
  zoom: 1;
  top: 0;
  left: 0;
  z-index: 9;
  border-bottom: 1px solid #eaeaea; }
  #m_floatbar.fixed .m-layout {
    max-width: 910px; }

.m-layout {
  position: relative; }

#m_floatbar.fixed .m-logo {
  background: transparent center no-repeat;
  width: 155px;
  height: 40px;
  bottom: 7px;
  left: 0; }

#m_floatbar.fixed .m-logo {
  background-image: url(974cdf45a94253274396b51ebb5b05bf.png); }

#m_floatbar.fixed .m-toolbar {
  right: 0; }

.m-logo {
  background: transparent center no-repeat;
  width: 245px;
  bottom: 10px;
  height: 59px;
  left: 5px;
  position: absolute;
  zoom: 1; }

.m-logo {
  background-image: url(03977178366e038201e85d8ab5a481ea.png); }

.m-toolbar {
  width: 625px;
  bottom: 10px;
  height: 63px;
  right: 5px;
  position: absolute;
  zoom: 1; }

.m-toolbar .tab {
  display: block;
  line-height: 26px;
  position: absolute;
  zoom: 1;
  top: 0;
  right: 0;
  height: 26px;
  width: 515px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /*-khtml-user-select: none;*/
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.m-toolbar:after, .m-toolbar li:after, .m-toolbar li.active:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.fixed .m-toolbar .tab li {
  color: #666;
  background: transparent; }

.fixed .m-toolbar .tab li.active {
  color: white; }

.m-toolbar .tab li:first-child {
  margin-left: 0;
  width: 71px; }

.m-toolbar .tab li.active {
  background: url(4a05e013dfa8602852e5145d43fc5205.png);
  font-weight: bold \9;
  font-weight: 600; }

.m-toolbar .tab li {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: url(2b5ebf77bc3456aeccfb1d42d8fe7d8d.png);
  margin-left: 5px;
  zoom: 1;
  width: 69px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  float: left;
  display: block;
  line-height: 26px;
  height: 26px;
  color: white; }

.m-toolbar .panel {
  width: 100%;
  height: 32px;
  display: block;
  position: absolute;
  zoom: 1;
  right: 0;
  top: 31px;
  line-height: 32px; }

.m-toolbar .panel li {
  float: left;
  width: 100%;
  height: 32px;
  display: none;
  position: relative;
  line-height: 32px; }

.m-toolbar .panel li.active {
  display: block; }

.m-toolbar .opt-wr .toggle {
  top: 6px;
  right: 7px;
  width: 13px;
  height: 19px;
  background-position: 3px -22px;
  position: absolute;
  zoom: 1;
  cursor: pointer;
  border-radius: 1px;
  background-image: url(8b3b7d06d8503759f9e21bf703a9db5c.png);
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /*-khtml-user-select: none;*/
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.m-toolbar .open .toggle {
  background-position: 3px -40px; }

.m-toolbar .m-toolbar-provider {
  display: none;
  position: absolute;
  z-index: 999;
  zoom: 1;
  top: 33px;
  left: -2px;
  width: 90px;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  background: #fff; }

.m-toolbar .open .m-toolbar-provider {
  display: block; }

.m-toolbar .m-toolbar-provider a {
  display: block;
  float: left;
  overflow: hidden;
  width: 90px;
  height: 32px;
  text-indent: -1000px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  background-position: center 32px;
  background-repeat: no-repeat; }

.m-toolbar .m-toolbar-provider a:hover {
  background-color: #eee; }

.m-toolbar-provider a {
  background-image: url(8d1ab6335cfe0462addac6f839986ae8.png); }

.m-toolbar-provider a.bilibili {
  background-position: center 0; }

.m-toolbar-provider a.acfun {
  background-position: center -32px; }

.m-toolbar-provider a.tucao {
  background-position: center -64px; }

.m-toolbar-provider a.soku {
  background-position: center -98px; }

.m-toolbar-provider a.nico {
  background-position: center -130px; }

.m-toolbar-provider a.xiami {
  background-position: center -162px; }

.m-toolbar-provider a.bdbaike {
  background-position: center -194px; }

.m-toolbar-provider a.moegirl {
  background-position: center -226px; }

.m-toolbar-provider a.komica {
  background-position: center -258px; }

.m-toolbar-provider a.baidu {
  background-position: center -288px; }

.m-toolbar-provider a.google {
  background-position: center -320px; }

.m-toolbar-provider a.bing {
  background-position: center -352px; }

.m-toolbar-provider a.sogou {
  background-position: center -384px; }

.m-toolbar-provider a.youdao {
  background-position: center -416px; }

.m-toolbar-provider a.qihoo360 {
  background-position: center -448px; }

.m-toolbar-provider a.wikipedia {
  background-position: center -480px; }

.m-toolbar-provider a.pixiv {
  background-position: center -512px; }

.m-toolbar-provider a.moefou {
  background-position: center -544px; }

.m-toolbar-provider a.tieba {
  background-position: center -576px; }

.m-toolbar-search-logo a {
  width: 86px;
  height: 32px;
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -1000px;
  background: transparent center 32px no-repeat; }

.m-toolbar-search-logo a {
  background-image: url(8d1ab6335cfe0462addac6f839986ae8.png); }

.m-toolbar-search-logo a.bilibili {
  background-position: center 0; }

.m-toolbar-search-logo a.acfun {
  background-position: center -32px; }

.m-toolbar-search-logo a.tucao {
  background-position: center -64px; }

.m-toolbar-search-logo a.soku {
  background-position: center -98px; }

.m-toolbar-search-logo a.nico {
  background-position: center -130px; }

.m-toolbar-search-logo a.xiami {
  background-position: center -162px; }

.m-toolbar-search-logo a.bdbaike {
  background-position: center -194px; }

.m-toolbar-search-logo a.moegirl {
  background-position: center -226px; }

.m-toolbar-search-logo a.komica {
  background-position: center -258px; }

.m-toolbar-search-logo a.baidu {
  background-position: center -288px; }

.m-toolbar-search-logo a.google {
  background-position: center -320px; }

.m-toolbar-search-logo a.bing {
  background-position: center -352px; }

.m-toolbar-search-logo a.sogou {
  background-position: center -384px; }

.m-toolbar-search-logo a.youdao {
  background-position: center -416px; }

.m-toolbar-search-logo a.qihoo360 {
  background-position: center -448px; }

.m-toolbar-search-logo a.wikipedia {
  background-position: center -480px; }

.m-toolbar-search-logo a.pixiv {
  background-position: center -512px; }

.m-toolbar-search-logo a.moefou {
  background-position: center -544px; }

.m-toolbar-search-logo a.tieba {
  background-position: center -576px; }

.m-toolbar .opt-wr {
  width: 110px;
  height: 32px;
  position: absolute;
  zoom: 1;
  left: 0;
  bottom: 0;
  display: inline-block; }

.ipt-wr {
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #bbb;
  background: white 0 -288px;
  vertical-align: top; }

.ipt-wr input {
  border: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  margin: 5px 0 0 7px;
  background: #fff;
  outline: 0;
  -webkit-appearance: none; }

.m-toolbar .ipt-wr {
  position: absolute;
  left: 110px;
  zoom: 1;
  bottom: 0;
  width: 384px;
  height: 30px; }

.m-toolbar .ipt-wr input {
  width: 375px;
  height: 22px; }

.btn-wr {
  background-color: white;
  background-image: -moz-linear-gradient(top, white, #ccc);
  background-image: -webkit-linear-gradient(top, white, #ccc);
  border-radius: 2px;
  border: 1px solid #cccccc;
  height: 30px;
  display: inline-block;
  background-position: -120px -240px;
  vertical-align: top; }

.m-toolbar .btn-wr {
  z-index: 0;
  right: 0;
  bottom: 0;
  width: 122px;
  zoom: 1;
  position: absolute;
  float: right; }

.btn-wr:hover {
  border: 1px solid #bbb;
  background-image: -webkit-linear-gradient(top, white, #c5c5c5); }

.btn-wr input {
  text-align: center;
  border: 0;
  padding: 0;
  background: 0;
  width: 122px;
  height: 30px;
  padding-top: 2px \9;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  float: right; }

.m-top-menu {
  max-width: 1200px;
  overflow: hidden;
  height: 36px; }

.m-top-menu a .icon {
  width: 18px;
  height: 18px;
  left: 18px;
  top: 9px;
  position: absolute;
  display: block;
  border-radius: 2px;
  transition: .15s all ease-out; }

.m-top-menu a:hover {
  background: rgba(244, 244, 244, 0.5);
  color: #333;
  text-decoration: none; }
  .m-top-menu a:hover .icon {
    top: 7px; }

.m-top-menu a:active .icon {
  top: 10px; }

.m-top-menu a.active {
  background: rgba(244, 244, 244, 0.5); }

.autocomplete-suggestions {
  border: 1px solid #bbb;
  background: #FFF;
  background: rgba(255, 255, 255, 0.95);
  overflow: auto;
  left: 110px;
  top: 61px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 4px 5px 4px 4px; }

.autocomplete-suggestion {
  padding: 5px 10px;
  white-space: nowrap;
  color: #333;
  font-size: 14px;
  overflow: hidden; }

.autocomplete-selected {
  background: #F0F0F0; }

.autocomplete-suggestions strong {
  font-weight: normal;
  margin: 0 2px;
  color: #38B19E; }

.autocomplete-group {
  padding: 2px 5px; }

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000; }

@media (max-width: 910px) {
  #container {
    display: none; } }

.form {
  margin: 10px auto; }
  .form .error {
    color: red;
    margin-bottom: 15px; }
  .form .success {
    color: green;
    margin-bottom: 15px; }
  @media (max-width: 768px) {
    .form {
      width: auto !important;
      margin: 10px 15px; } }
  .form .form-input input, .form .form-btn .btn {
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 0 12px;
    height: 40px;
    line-height: 38px;
    border-radius: 4px;
    background: white;
    font-size: 16px;
    display: block;
    outline: none; }
  .form .form-input {
    margin: 0 auto; }
    .form .form-input input {
      border-color: #dadada;
      margin: 0 auto; }
    .form .form-input + .form-input, .form .form-input + .form-btn {
      margin-top: 10px; }
  .form .form-btn {
    margin: 0 auto; }
    .form .form-btn .btn {
      float: left;
      text-align: center;
      text-decoration: none; }
      .form .form-btn .btn:hover {
        color: #333;
        opacity: .8; }
      .form .form-btn .btn.btn-primary {
        background: #34c151;
        color: white; }
      .form .form-btn .btn.btn-secondary {
        border-color: #34c151;
        color: #34c151; }

