@media screen and (min-width: 800px) {


body {
    background-image: url('../src/image/BG_PC.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

.search {
    margin: 5% 0 0 0;
    width: 100%;PC
}

.search .logo {
    width: 35%;
    margin: 0 auto;
}

.search .logo img {
    width: 100%;
}

.search .search_form {
    width: 50%;
    margin: 1% auto 3%;
    position: relative;
}

.search .search_form form {
    width: 100%;
}

.search .search_form form .text {
    width: 100%;
    height: 3.5vw;
    background: none;
    color: #666;
    font-size: 1rem;
    padding: 0 3rem 0 1.2rem;
    box-sizing: border-box;
    /* 防止padding撑开盒子 */
    border: none;
    border-radius: 3rem;
    box-shadow: 0 0 0.5rem 0.1rem rgb(210, 210, 210);
    outline: none;
}

.search .search_form form .button {
    width: 10%;
    height: 100%;
    font-size: 1.5em;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
}

.nav {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex: 1;
}

.nav .box {
    position: relative;
    z-index: 1;
}

.nav .box img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.nav .box p {
    text-align: center;
    display: block;
    margin: 5% 0;
}

.nav .box a {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}

.bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.bottom p {
    font-size: 1.5em;
    text-align: center;
}
}